<a href="/">Home</a>
<a href="/about/">About</a>
<a href="/blog/">Blog</a>

<body>
    <h1>Dulkir.com</h1>
    <h2>About Me</h2>
  
    <p>
        This website is intended to serve two main purposes: satisfying a desire for a creative writing outlet, and also serving as a hub to check up
        on my recent projects. Hope you enjoy!
    </p>
  </body>