---
import '../styles/global.css';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';

const pageTitle = "My Blog";
const allPosts = Object.values(await import.meta.glob('./posts/*.md', { eager: true }));
---
<BaseLayout pageTitle={pageTitle}>
    <p>Work in progress. Currently no (meaningful) posts!</p>

    <ul>
        {allPosts.reverse().map((post: any) => <BlogPost post={post} />)}
    </ul>
</BaseLayout>