---
const { post } = Astro.props;

const url = post.url;
const frontmatter = post.frontmatter;
const title = frontmatter.title;
const pubDate = frontmatter.pubDate.toString().slice(0,10);
---

<li>
        <a href={url}>{title}</a> - <i>({pubDate})</i>
</li>